	<div class="tab-content">
		<div class="timeline-wrapper tall">
			<div class="timeline-content tail">
				<div class="tl-header">
					<div class="tl-column-container">
						<div class="tl-columns">
							<div class="tl-dates" id="tl-dates" >
								<div class="tl-col-spacer"><div style="width:148px"></div></div>
								<div class="tl-date">
									<div class="date-text"><span>WEDNESDAY</span><br>September 30,2017</div>
									<div class="tl-hours">
										<div>00:00</div>
										<div>03:00</div>
										<div>06:00</div>
										<div>09:00</div>
										<div>12:00</div>
										<div>15:00</div>
										<div>18:00</div>
										<div>21:00</div>
										<div>23:00</div>
									</div>

								</div>
								<div class="tl-date">
									<div class="date-text"><span>THURSDAY</span><br>October 1,2017</div>
									<div class="tl-hours">
										<div>00:00</div>
										<div>03:00</div>
										<div>06:00</div>
										<div>09:00</div>
										<div>12:00</div>
										<div>15:00</div>
										<div>18:00</div>
										<div>21:00</div>
										<div>23:00</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tl-row-label-container">
					<div class="tl-primary"><span>TAILS</span></div>
					<table class="row-labels">
						<tr><td>4XP</td></tr>
						<tr><td>3JA</td></tr>
						<tr><td class="last-label"></td></tr>
					</table>
				</div>
				<div class="flights-container">
					<div class="flights">
						<div class="tl-col-spacer"></div>
						<div class="grid-col">
							<div></div>
							<div></div>
							<div></div>
							<div><div style="width:434px;height:40px;background-color:#0183CA;border:none;position: absolute;left:200px"></div></div>
							<div></div>
						</div>
						<div class="grid-col">
							<div></div>
							<div>
								<div class="puck delayed" style="width:434px;left:500px">
									<div class="puck-offset start" style="width:20px;"></div>
									<div class="puck-container">
										<div class="stn-dep"><span>DFW</span></div>
										<div class="content">main</div>
										<div class="stn-arv"><span>LAX</span></div>
									</div>
								</div>
							</div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="grid-col"></div>
						<div class="grid-col"></div>
						<div class="grid-col"></div>
						<div class="grid-col"></div>
						<div class="grid-col"></div>
						<div class="grid-col"></div>
						<div class="grid-col"></div>
					</div>
				</div>
			</div>
		</div>
	</div>