<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>AMS Tool</title>

<!-- Bootstrap Core CSS -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/ripples.min.css" rel="stylesheet"> -->

<!-- Material Design fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Bootstrap -->
<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Material Design -->
<!--   <link href="dist/css/bootstrap-material-design.css" rel="stylesheet"> -->
<link href="css/bootstrap/ripples.min.css" rel="stylesheet">


<link href="css/bootstrap/bootstrap-material-design.min.css" rel="stylesheet">

<!-- Bootstrap Select -->
<link href="css/bootstrap/bootstrap-select.min.css" rel="stylesheet">

<!-- Dropdown.js -->
<link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">
<!-- JQueryUI-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href='css/react-calendar-timeline.css' rel='stylesheet' type='text/css'>
<link href="css/dot.css" rel="stylesheet">
<link href="css/dot-timeline.css" rel="stylesheet">

<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">



<!-- Custom CSS -->
<link href="css/layout.css" rel="stylesheet">
<link href="css/sidebar.css" rel="stylesheet">
<link href="css/sub-sidebar.css" rel="stylesheet">
<link href="css/c-toggle.css" rel="stylesheet">
<link href="css/c-radio.css" rel="stylesheet">
<link href="css/c-helpers.css" rel="stylesheet">
<link href="css/c-checkbox.css" rel="stylesheet">
<link href="css/station-panel.css" rel="stylesheet">
<link href="css/dot-tooltip.css" rel="stylesheet">
<link href="css/station-select.css" rel="stylesheet">
<link href="css/station-panel-tile.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
