<div class="navbar navbar-default">
  <div class="container-fluid">

  <!-- header-wrapper -->
  <div id="header-wrapper">
    <div id="header-tab-wrapper">

        <ul id="station-tab">
          <li id="station-tab-DFW" class="active">
            <div class="station-marker"></div>
            <div class="tab">
              <div class="icon-close"></div>
              <div class="station">DFW</div>
              <div class="timezone">(GMT -5)</div>
            </div>
          </li>
        </ul>
    </div>

     <div id="header-option-wrapper">
        <div>
          <a href="#" role="button" data-toggle="modal" data-target="#addDispatcherStationModal">
            <img  id="img_add_dispatcher" alt="Add Dispatcher" src="img/add_dispatcherCode_station.png"/>
          </a>
        </div>
        <div>
          <ul>
            <li id="li-view-tab" class="active">
              <a href="" >
                <div class="img_option" id="img_option_tab"></div>
                Tabs
              </a>
            </li>
            <li id="li-view-tile">
              <div class="img_option" id="img_option_tile"></div>
              <a href="">
                Tile
              </a>
            </li>
            <li id="li-view-table">
              <a href="">
                <div class="img_option" id="img_option_table"></div>
                Table
              </a>
            </li>
          </ul>
        </div>
        <div>
          <img id="img_user" alt="user" src="img/user_avatar.png"/>
        </div>
      </div>
  </div>
</div>
</div>
