<!-- jQuery -->
<script src="js/jquery-1.10.2.min.js"></script>
<!-- Twitter Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Bootstrap Select JavaScript -->
<script src="js/bootstrap-select.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/tether.js"></script>
<script src="js/material.min.js"></script>
<script src="js/ripples.min.js"></script>
<script src="js/socket.io.min.js"></script>
<!-- JQueryUI-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/station-panel-tile.js"></script>
<script>
$.material.init();
</script>
