<div class="row tileViewBorder"></div>
<div class="tileViewContainer" id="station1">
    {{> station-panel-tile}}
    <div class="ganttContainer">
    <span class="icon icon-ganttDFW"></span>
    </div>
</div>
<div class="tileViewContainer" id="station2">
    {{> station-panel-tile}}
    <div class="ganttContainer">
    <span class="icon icon-ganttLAX"></span>
    </div>
</div>
<div class="tileViewContainer" id="station3">
    {{> station-panel-tile}}
    <div class="ganttContainer">
    <span class="icon icon-ganttPHX"></span>
    </div>
</div>
